* {
  background-color: beige;
  font-family:Cambria; 
  padding: 0;
  margin: 0;
  max-width: 100%;
  font-size: 17px;

}


 h1 {
  margin: 80px;
  padding: 18px;
 }


.contact {
  margin: 20px;
}

.contact input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 50%;
  background-color: white;
  padding: 10px;
 }

.contact textarea {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 50%;
  background-color: white;
  padding: 10px;
}



.card-body .img {
  opacity: 1;
  display: block;
  /* width: 100%;
  height: auto; */
  height: 250px;
  width: 400px;
  transition: .5s ease;
  backface-visibility: hidden;
  position: relative;
  border-radius: 5%;

}

.card-body .img_1 {
  /* background: rgba(29, 106, 154, 0.72); */
  /* color:black; */
  /* visibility: hidden; */
  transition: .5s ease;
  opacity: 0;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  /* text-align: center; */
  margin-left: 200px ;
  /* position: ; */

}

.card-body:hover .img_1 {
  /* visibility: visible; */
  opacity: 1;
}
.card-body:hover .img {
  opacity: 0.3;
}

.fa {
  font-size: 40px;
  float:right;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 30px;
}