/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
  .container .about {
   flex-direction: column;
   font-size: 15px;
   /* padding-bottom: 30px; */
   display: inline-flex;
   /* max-width: 100%; */
   /* max-height: 100%; */
 }
}
* {
  background-color:  #2D3F62;
  font-family:Cambria; 
  padding: 0;
  margin: 0;
  max-width: 100%;
  font-size: 19px;
  color: #F3F0E2;
  max-height: 100%;
}

 h1 {
  margin: 80px;
  padding: 18px;
  background-color: #F3F0E2;
  color: #2D3F62 ;
 }

.contact {
  margin: 50px, 50px, 0, 50px ;
}

.contact input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 50%;
  background-color: white;
  padding: 10px;
  color: black;
 }

.contact textarea {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 50%;
  background-color: white;
  padding: 10px;
}



.card-body .img-fluid {
  opacity: 1;
  display: block;
  /* width: 100%;
  height: auto; */
  height: 250px;
  width: 400px;
  transition: .5s ease;
  backface-visibility: hidden;
  position: relative;
  border-radius: 5%;
  margin: 25px;
}

.card-body .img_1 {
  /* background: rgba(29, 106, 154, 0.72); */
  /* color:black; */
  /* visibility: hidden; */
  transition: .5s ease;
  opacity: 0;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  /* text-align: center; */
  margin-left: 200px ;
  /* position: ; */

}

.card-body:hover .img_1 {
  /* visibility: visible; */
  opacity: 1;
}
.card-body:hover .img-fluid {
  opacity: 0.3;
}

.fa {
  font-size: 40px;
  float:right;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 30px;
}

.profilePic {
  border-radius: 50%;
  width: 130px; 
  height: 150px; 
}

.span {
  font-size: 15px;
  color: red;
}



/* @media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
} */
