* {
  background-color: beige;
  font-family:Cambria; 
  padding: 0;
  margin: 0;
  max-width: 100%;
}

/* .header .nav {
  /* font-size: 25px; */
  /* color: black; */
  /* float: right;  */
  /* padding: 30px; */

  /* background-color: aliceblue; */
/* } */

/* .myName {
  float: left;
  padding: 30px;
  margin-bottom: 20px ;
} */

/* .about {
  margin: 200px;

} */