/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
  * {
    font-size: 16px;
  }
  .nav li {
    font-size: 14px;
  }
  .contact input{
    font-size: 14px;
   }
}

* {
  background-color: #2d3f62;
  font-family: Cambria;
  padding: 0;
  margin: 0;
  max-width: 100%;
  font-size: 19px;
  color: #f3f0e2;
  max-height: 100%;
}

h1 {
  margin: 80px;
  padding: 18px;
  background-color: #f3f0e2;
  color: #2d3f62;
}

.nav li a {
  color: #f3f0e2;
}
.profilePic {
  border-radius: 50%;
  width: 130px;
  height: 150px;
}

.contact {
  margin: 50px, 50px, 0, 50px;
}

.contact input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 50%;
  background-color: white;
  padding: 10px;
  color: black;
}

.contact textarea {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 50%;
  background-color: white;
  padding: 10px;
  color: black;

}

.card-body .img-fluid {
  opacity: 1;
  display: block;
  height: 250px;
  width: 400px;
  transition: 0.5s ease;
  backface-visibility: hidden;
  position: relative;
  border-radius: 5%;
  margin: 25px;
  flex: 0 0 400px;
}

.card-body .img_1 {
  transition: 0.5s ease;
  opacity: 0;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  margin-left: 200px;
}

.card-body:hover .img_1 {
  opacity: 1;
}
.card-body:hover .img-fluid {
  opacity: 0.3;
}

.fa {
  font-size: 40px;
  float: right;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 30px;
}

.span {
  font-size: 15px;
  color: red;
}
